

#etchContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    

}
#squareContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 5pt green solid;
    width: 800px;
    height: 800px;

}


#squareContainerColumn{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-content: center;

}

.squaresCol{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    
}

 .squaresRow{
    border: 2px black solid;
    box-sizing: border-box;
    flex-grow: 1;
    

}


.squareColor{
    background-color: red;
}